---
---

<div class="text-stone-200 bg-zinc-950 dark:bg-zinc-950 h-screen overflow-y-auto flex flex-col p-4 gap-8">
    <div>
        <a href="/" class="flex items-center gap-2">
            <img src="/icons/logo.svg" alt="brainpod" />
            <h1 class="text-lg font-semibold">
                BrainPod
            </h1>
        </a>
    </div>
    <div>
        <a href="/" class="flex items-center gap-2 text-xl">
            <span class="icon-[bxs--home-alt-2] cursor-pointer" />
            Home
        </a>
    </div>
    <div>
        <a href="/discover" class="flex items-center gap-2 text-xl">
            <span class="icon-[bxs--compass] cursor-pointer" />
            Discover
        </a>
    </div>
    <div>
        <a href="/podcast/create" class="flex items-center gap-2 text-xl">
            <span class="icon-[bxs--microphone-alt] cursor-pointer" />
            Create Podcast
        </a>
    </div>
</div>
